body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
    background-image: url("/images/7adb20b2807fb2e2caa3cdec50491984.gif");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    height: 50%;
    width: 50%
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.button5 {
    font-size: 24px;
}