body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

.hero-image {
    background-image: url("/images/battle grounds/dragon place.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/**********************************
    Character Grid
**********************************/

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    padding: 20px;
    padding-right: 1100px;
    padding-top: 15px;
    height: 80%;
}

.grid-container>div {
    padding: 0px;
}

#split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/***************************************************
            Image borders and animation
***************************************************/
p{
    display: block;
    position: absolute;
    top: -5%;
    left: 36%;
    z-index: 1;
    font-size: 65px;
    font-family: 'Ceviche One';
    text-shadow: 2px 2px 5px black;
    letter-spacing: .1em;
}

.player-select {
    color: crimson;
    position: relative;
}

.button {
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    height: 100px;
    width: 100px;
    background-color: lightgray;
    transform: skewY(-10deg);
}

.button:hover {
    background-color: green;
}

button::after {
    color: crimson;
    font-size: 24em;
}

#playerSelect {
    position: absolute;
    color: blue;
    cursor: pointer;
    font-size: 35px;
    top: 15px;
    left: 95px;
    text-shadow: 2px 2px 5px black;
}


/***************************************************
           Image animation & transition
***************************************************/

h1 {
    display: block;
    left: 75%;
    position: absolute;
    top: -55px;
    font-size: 85px;
    color: white;
    font-family: 'Ceviche One';
    text-shadow: 2px 2px 5px black;
    letter-spacing: .1em;
}

#characters {
    display: none;
    left: 55%;
    position: absolute;
    top: 85px;
    height: 80%;
    width: 550px;
    background-size: contain;
    border: 5px solid gray;
    font-size: 25px;
    color: white;
}

#charactersname {
    left: 55%;
    position: absolute;
    top: 85px;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 5px black;
    width: 150px;
    background-color: aqua;
    text-align: center;
}

#charselect {
    color: white;
    font-size: 25px;
    position: absolute;
    left: 53%;
    bottom: 5%;
    text-shadow: 2px 2px 5px black;
    background-color: red;
}

#charactersubmit {
    display: block;
    left: 85%;
    position: absolute;
    bottom: 30px;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 5px black;
    width: 150px;
    text-align: center;
    border-radius: 12px;
}

div.akuma {
    background: url("../images/akuma/Akuma.png") no-repeat center;
}

div.balrog {
    background: url("../images/balrog/balrog.png") no-repeat center;
}

div.bison {
    background: url("../images/bison/Bison.png") no-repeat center;
}

div.blanka {
    background: url("../images/blanka/Blanka.png") no-repeat center;
}

div.cammy {
    background: url("../images/cammy/Cammy.png") no-repeat center;
}

div.chun-li {
    background: url("../images/chun-li/chun-li.png") no-repeat center;
}

div.dhalsim {
    background: url("../images/dhalsim/Dhalsim.png") no-repeat center;
}

div.fei-long {
    background: url("../images/fei-long/Fei-long.png") no-repeat center;
}

div.guile {
    background: url("../images/guile/Guile.png") no-repeat center;
}

div.honda {
    background: url("../images/honda/Honda.png") no-repeat center;
}

div.ibuki {
    background: url("../images/ibuki/ibuki.png") no-repeat center;
}

div.ken {
    background: url("../images/ken/ken.png") no-repeat center;
}

div.makoto {
    background: url("../images/makoto/makoto.png") no-repeat center;
}

div.ryu {
    background: url("../images/ryu/ryu.png") no-repeat center;
}

div.sagat {
    background: url("../images/sagat/sagat.png") no-repeat center;
}

div.thawk {
    background: url("../images/thawk/THawk.png") no-repeat center;
}

div.zangief {
    background: url("../images/zangief/zangief.png") no-repeat center;
}

div.skull {
    background: url("../images/Skull/Skull.png") no-repeat center;
}

div.alex {
    background: url("../images/alex/Alex.png") no-repeat center;
}

div.vega {
    background: url("../images/vega/vega.png") no-repeat center;
}

div.deejay {
    background: url("../images/deejay/Deejay.png") no-repeat center;
}

div.dudley {
    background: url("../images/Dudley/Dudley.png") no-repeat center;
}

div.yang {
    background: url("../images/yang/yang.png") no-repeat center;
}

div.yun {
    background: url("../images/yun/yun.png") no-repeat center;
}

div.guy {
    background: url("../images/guy/Guy.png") no-repeat center;
}

/***************************************************
                 Submit Character
***************************************************/

#submitselect {
    display: none;
    left: 85%;
    position: absolute;
    bottom: 20px;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 5px black;
    width: 150px;
    text-align: center;
    border-radius: 12px;
}

/***************************************************
                   Player 1 & 2
***************************************************/